@page
@model GenerateRecoveryCodesModel
@{
    ViewData["Title"] = "Создать коды восстановления с двухфакторной аутентификацией(2FA)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

@Html.Partial("_StatusMessage", Model.StatusMessage)
<h4>@ViewData["Title"]</h4>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Сохраните эти коды в безопасном месте.</strong>
    </p>
    <p>
        Если вы потеряете свое устройство и не получите коды восстановления, вы потеряете доступ к своей учетной записи.
    </p>
    <p>
        Генерация новых кодов восстановления не меняет ключи, используемые в приложениях аутентификатора. Если вы хотите изменить ключ
        используется в приложении для проверки подлинности, вы должны<a asp-page="./ResetAuthenticator">сбросить ключи аутентификатора</a>
    </p>
</div>
<div>
    <form method="post" class="form-group">
        <button class="btn btn-danger" type="submit">Создать коды восстановления</button>
    </form>
</div>