@page
@model TwoFactorAuthenticationModel
@{
    ViewData["Title"] = "Двухфакторная аутентификация";
}

@Html.Partial("_StatusMessage", Model.StatusMessage)
<h4>@ViewData["Title"]</h4>
@if (Model.Is2faEnabled)
{
    if (Model.RecoveryCodesLeft == 0)
    {
        <div class="alert alert-danger">
            <strong>
                У вас не осталось кодов восстановления.
            </strong>
            <p>
                Вы должны<a asp-page="./GenerateRecoveryCodes">создать новый набор кодов восстановления</a> прежде чем вы сможете войти с кодом восстановления.
            </p>
        </div>
    }
    else if (Model.RecoveryCodesLeft == 1)
    {
        <div class="alert alert-danger">
            <strong>
                У вас есть 1 код восстановления.
            </strong>
            <p>Вы можете <a asp-page="./GenerateRecoveryCodes">создать новый набор кодов восстановления</a>.</p>
        </div>
    }
    else if (Model.RecoveryCodesLeft <= 3)
    {
        <div class="alert alert-warning">
            <strong>
                У вас есть @Model.RecoveryCodesLeft коды восстановления остались.
            </strong>
            <p>
                Вам следует <a asp-page="./GenerateRecoveryCodes">создать новый набор кодов восстановления</a>.
            </p>
        </div>
    }

    if (Model.IsMachineRemembered)
    {
        <form method="post" style="display: inline-block">
            <button type="submit" class="btn btn-default">Удалить всю историю в браузере</button>
        </form>
    }
    <a asp-page="./Disable2fa" class="btn btn-default">Запретить 2FA</a>
    <a asp-page="./GenerateRecoveryCodes" class="btn btn-default">Сбросить коды восстановления</a>
}

    <h5>
        Приложение для аутентификации
    </h5>
@if (!Model.HasAuthenticator)
{
    <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-default">Добавить приложение для проверки подлинности</a>
}
else
{
    <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-default">Настройка приложения-аутентификатора</a>
    <a id="reset-authenticator" asp-page="./ResetAuthenticator" class="btn btn-default">Сбросить приложение аутентификатора</a>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
