@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Подтверждение электронной почты";
}

<h2>@ViewData["Title"]</h2>
<div>
    <p>
        Спасибо за подтверждение вашей электронной почты.
    </p>
</div>
